extends layout 

block content 
    h1= title 
    if (toShow == null) 
      h2 No instance to detail 
    else
    - let indiaid = toShow._id 
    - let state_name = toShow.state_name 
    - let state_population  = toShow.state_population 
    - let state_language = toShow.state_language 


    div.row(class='mb-2') 
        div.mr-1 ID is 
        div #{indiaid} 
    - let actionid = "/resource/india/" + indiaid 
    form(id='indiaForm', action= actionid, method="PUT") 
        div.form-group 
            label.indiaAttr(for='state_name') state_name 
            input#state_name(type='text' name='state_name', value= state_name ) 
        div.form-group 
            label.indiaAttr(for='state_population') state_population 
            input#state_population(type='number' name='state_population', value= state_population ) 
        div.form-group 
            label.indiaAttr(for='state_language') state_language 
            input#state_language(type='text' name='state_language', value= state_language ) 
        input(type="submit") 


    script. 
        document.forms['indiaForm'].addEventListener('submit', (event) => { 
            event.preventDefault(); 
            // TODO do something here to show user that form is being submitted 
            fetch(event.target.action, { 
                method: 'PUT', 
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
            }).then((resp) => { 
                return resp.json(); // or resp.text() or whatever the server sends 
            }).then((body) => { 
                alert("Update succeded") 
                // TODO handle body 
            }).catch((error) => { 
                // TODO handle error 
                alert("Update failed " + error ) 
            }); 
        });