extends layout 
 
block content 
  h1= title 
 
  form(id='indiaForm', action="/resource/india", method="POST") 
    div.form-group 
        label.indiaAttr(for='state_name') state_name 
        input#state_name(type='text', name='state_name') 
    div.form-group 
        label.indiaAttr(for='state_population') state_population  
        input#state_population(type='number', name='state_population') 
    div.form-group 
        label.indiaAttr(for='state_language') state_language  
        input#state_language(type='text', name='state_language') 
    input(type="submit") 
 
  script. 
    document.forms['indiaForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 