extends layout

block content
  h1= title 
  - var images_names = ['Karnataka.jpg',"Andhra Pradesh.jpg",'Maharashtra.jpg','Tamilnadu.jpg','Kerala.jpg']
  - var i =0;
  - while(i<3){
     - var rand = Math.floor(Math.random()*5)
     - var img = "/images/"+images_names[rand]
     - i++
     img(src=img,  height="300px",width="300px",alt="alt") 
  -}